name: CMake

on:
  push:
    branches: [ "main" ]
    tags:
      - "*.*.*"
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ windows-latest ]
        presets: [ release-windows ]

    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # install cmake and ninja
      - uses: lukka/get-cmake@latest

      # automatically detects the vcpkg commit from the vcpkg-configuration.json file
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        id: runvcpkg
        with:
          # This specifies the location of vcpkg, where it is going to be restored from cache, or create from scratch.
          vcpkgDirectory: '${{ runner.temp }}/vcpkg'

      - name: Run CMake with vcpkg.json manifest - Windows
        uses: lukka/run-cmake@v10
        with:
          configurePreset: ${{ matrix.presets }}
          buildPreset: ${{ matrix.presets }}

      - name: Save nightly build from main
        uses: actions/upload-artifact@v4
        if: github.event_name != 'push' || !startsWith(github.ref, 'refs/tags/')
        with:
          name: nightly-${{ github.sha }}
          path: |
            cmake-build/${{matrix.presets}}/msimg32.dll

      - name: Save build to release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref_name }}
          draft: true
          prerelease: ${{ contains(github.ref_name, '-') }}
          name: "Release ${{ github.ref_name }}"
          generate_release_notes: true
          files: cmake-build/${{matrix.presets}}/msimg32.dll
          token: ${{ secrets.GITHUB_TOKEN }}
